<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sida inte hittad</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static',filename='images/favicon.png') }}"
    />
  </head>
  <body>
    <div align="center">
      <br />
      <br />
      <h1>Sidan kunde inte hittas</h1>
      <div>
        <img
          class="img-thumbnail-custom"
          src="https://media.api-sports.io/football/leagues/39.png"
          alt="Premier League Logo"
        />
      </div>
      <h2><a href="/">Tillbaka till Hem</a></h2>
    </div>
  </body>
</html>
