{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block content %}
  <h1 class="pb-2 text-center">Admin</h1>
  <div class="container">
    <div class="bg-white shadow p-4">
      <!-- API Options -->
      <p class="fw-bold">API Options</p>
      <div class="table-responsive border-bottom border-dark-subtle">
        {% if general %}
          <table class="table table-striped table-bordered align-middle">
            <thead>
              <tr>
                <th scope="row">Active Season</th>
                <th scope="row">Last Update</th>
                <th scope="row">Remaining Requests</th>
                <th scope="row">Late modification enabled</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="col">
                  {{ general.season.display_name }}
                </td>
                <td scope="col">
                  {{ general.last_update.strftime('%Y-%m-%d %H:%M:%S') if general.last_update else 'N/A' }}
                </td>
                <td scope="col">
                  {{ general.remaining_requests if general.remaining_requests else 'N/A' }}
                </td>
                <td scope="col">
                  {{ 'Yes' if general.allow_late_modification else 'No' }}
                </td>
              </tr>
            </tbody>
          </table>
        {% else %}
          <div class="text-muted mb-3">No General records found.</div>
        {% endif %}
        <div class="d-flex justify-content-center mb-3 gap-1">
          <button class="btn btn-primary" type="button" id="button-fetch-api-fixtures">
            Fetch API Fixtures
          </button>
          <button class="btn btn-primary" type="button" id="button-fetch-api-standings">
            Fetch API Standings
          </button>
          <button class="btn btn-primary" type="button" id="button-calculate-results">
            Calculate Results
          </button>
          <button class="btn btn-warning" type="button" id="button-toggle-late-modification">
            Toggle Late Modification
          </button>
        </div>
      </div>
      <!-- Season -->
      <p class="fw-bold mt-2">
        {% if general %}
          Current Active Season:
          {{ general.season.display_name }}
        {% else %}
          General does not exist.
        {% endif %}
      </p>
      <div class="border-bottom border-dark-subtle">
        <div class="d-flex gap-3 mb-3">
          <select class="form-control" name="set-active-season-select" id="set-active-season-select">
            {% for season in season_data['all_seasons'] %}
              <option value="{{ season.season }}">
                {{ season.display_name }}
              </option>
            {% endfor %}
          </select>
          <button class="btn btn-success" type="button" id="button-set-active-season">Set Active Season</button>
        </div>
        <div class="d-flex gap-3 mb-3">
          <input type="text" id="add-season-input" class="form-control" placeholder="Enter season" required="required">
          <button class="btn btn-warning" type="button" id="button-add-season">Add Season</button>
        </div>
      </div>
      <!-- Users -->
      <p class="fw-bold mt-2">Users</p>
      <div class="table-responsive border-bottom border-dark-subtle">
        <table class="table table-striped table-bordered align-middle">
          <thead>
            <tr>
              <th scope="row">UUID</th>
              <th scope="row">Username</th>
              <th scope="row">Email</th>
              <th scope="row">Admin</th>
              <th scope="row">Timestamp</th>
            </tr>
          </thead>
          <tbody>
            {% for u in all_users %}
              <tr>
                <td scope="col">
                  {{ u.id }}
                </td>
                <td scope="col">
                  {{ u.username }}
                </td>
                <td scope="col">
                  {{ u.email or '' }}
                </td>
                <td scope="col">
                  {{ 'Yes' if u.is_admin else 'No' }}
                </td>
                <td scope="col">
                  {{ u.timestamp.strftime('%Y-%m-%d %H:%M:%S') if u.timestamp else '' }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="d-flex gap-3 mb-3">
          <input type="text" id="user-uuid-input" class="form-control" placeholder="Enter user UUID" required="required">
          <button class="btn btn-success" type="button" id="button-set-user-admin">Set Admin</button>
        </div>
      </div>
      <!-- Holiday Theme -->
      <p class="fw-bold mt-2">Holiday Theme</p>
      <div class="d-flex justify-content-center border-bottom border-dark-subtle">
        <button class="btn btn-primary mb-3" type="button" id="button-toggle-holiday-theme">
          Toggle Holiday Theme
        </button>
      </div>
      <!-- Links -->
      <div class="border-bottom border-dark-subtle">
        <ul class="list-group list-group-flush m-1">
          <li class="list-group-item">
            <a href="https://github.com/PhilipJanson/Jansonfotboll" target="_blank">Github</a>
          </li>
          <li class="list-group-item">
            <a href="https://www.football-data.org/client/home" target="_blank">Football Data</a>
          </li>
          <li class="list-group-item">
            <a href="https://getbootstrap.com/docs/5.3" target="_blank">Bootstrap</a>
          </li>
          <li class="list-group-item">
            <a href="https://fontawesome.com" target="_blank">Font Awesome</a>
          </li>
          <li class="list-group-item">
            <a href="https://supabase.com/dashboard" target="_blank">Supabase</a>
          </li>
          <li class="list-group-item">
            <a href="https://dashboard.render.com/web" target="_blank">Render</a>
          </li>
          <li class="list-group-item">
            <a href="https://trello.com/" target="_blank">Trello</a>
          </li>
        </ul>
      </div>
    </div>
  {% endblock content %}

  {% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin.js') }}"></script>
  {% endblock %}
