{% extends "auth.html" %}
{% block title %}Byt Lösenord{% endblock %}
{% block content %}
  <div class="container">
    {% call auth_card("Byt Lösenord") %}
    <form method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="form-group">
        <label for="password-old">Gammalt Lösenord</label>
        <input type="password" class="form-control" id="password-old" name="password-old" placeholder="Skriv ditt gamla lösenord" required="required"/>
      </div>
      <div class="form-group">
        <label for="password-new">Nytt Lösenord</label>
        <input type="password" class="form-control" id="password-new" name="password-new" placeholder="Skriv ditt nya lösenord" required="required"/>
      </div>
      <div class="form-group">
        <label for="password-repeat">Upprepa Lösenord</label>
        <input type="password" class="form-control" id="password-repeat" name="password-repeat" placeholder="Upprepa ditt nya lösenord" required="required"/>
      </div>
      <br/>
      <button type="submit" class="btn btn-outline-primary">Byt Lösenord</button>
    </form>
    {% endcall %}
  </div>
{% endblock %}
