{% extends "base.html" %}
{% block title %}Premier League Tips{% endblock %}
{% block content %}
  <div class="text-center">
    <img class="img-thumbnail-custom" src="https://media.api-sports.io/football/leagues/39.png" alt="Premier League Logo"/>
    <h1 class="pb-2 text-center">Premier League Tips</h1>
    <div class="col text-center pl-5 pr-5">
      En webapplikation skapad för att visa matcher och resultat från Premier League, samt för att kunna tippa på resultaten. Skapa ett konto för att börja tippa. Hemsidan är skapad av Philip Janson och byggd med Python Flask, Bootstrap och JavaScript. Information om matcher och resultat hämtas från
      <a href="https://api-sports.io/">https://api-sports.io/</a>. Matchresultat och poäng uppdateras en gång om dagen vid
      <nobr>kl. 00.00.</nobr>
    </div>
    <br/>
    <br/>
    {% if fixtures is none %}
      <h3>Veckans matcher</h3>
      <div class="row">
        {% for fixture in fixtures %}
          <div id="{{ fixture.fixture_id }}" class="col shadow m-2 align-items-center">
            <div class="row border hover p-2">
              <div class="col">{{ fixture.time }}</div>
              <div class="w-100"></div>
              <div class="col pb-2 border-bottom">{{ fixture.date }}</div>
              <div class="w-100"></div>
              <div class="col-md-auto pt-3">
                <img class="img-thumbnail-custom-2 float-start" src="{{ fixture.home_team.logo }}" alt="Home team's logo"/>
              </div>
              <div class="col pt-3">{{ fixture.home_team.name }}</div>
              <div class="col col-lg-1 pt-3">-</div>
              <div class="col pt-3">{{ fixture.away_team.name }}</div>
              <div class="col-md-auto pt-3">
                <img class="img-thumbnail-custom-2 float-start" src="{{ fixture.away_team.logo }}" alt="Home team's logo"/>
              </div>
            </div>
          </div>
          {% if loop.index % 2 == 0 %}
            <div class="w-100"></div>
          {% endif %}
        {% endfor %}
      </div>
    {% else %}
      <h3>Inga matcher denna vecka</h3>
    {% endif %}
  </div>
{% endblock %}
