{% extends "base.html" %}
{% import "utils.html" as utils %}

{% block title %}Skapa Konto{% endblock %}

{% block content %}
  <div class="container">
    {% call utils.auth_card_macro("Skapa Konto") %}
    <form method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="form-group mb-2">
        <label for="username">Användarnamn</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Skriv användarnamn" required="required"/>
      </div>
      <div class="form-group mb-2">
        <label for="password">Lösenord</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Skriv lösenord" required="required"/>
      </div>
      <div class="form-group mb-2">
        <label for="password-repeat">Upprepa Lösenord</label>
        <input type="password" class="form-control" id="password-repeat" name="password-repeat" placeholder="Upprepa lösenord" required="required"/>
      </div>
      <div class="form-group form-check mb-2">
        <input type="checkbox" class="form-check-input" id="remember-me" name="remember-me"/>
        <label class="form-check-label" for="remember-me">Kom ihåg mig</label>
      </div>
      <div class="form-group form-check mb-2">
        <input type="checkbox" class="form-check-input" id="accept-privacy" name="accept-privacy" required="required"/>
        <label class="form-check-label" for="accept-privacy">
          Jag godkänner att mina uppgifter sparas enligt
          <a href="{{ url_for('views.endpoint_privacy_policy') }}" target="_blank">
            integritetspolicyn
          </a>
        </label>
      </div>
      <button type="submit" class="btn btn-outline-primary">Skapa Konto</button>
      <small class="d-block mt-3">
        Har du redan ett konto?
        <a href="{{ url_for('auth.endpoint_login') }}">Logga in här</a>
      </small>
    </form>
    {% endcall %}
  </div>
{% endblock %}
