{% extends "base.html" %}
{% block title %}Tabell{% endblock %}
{% block content%}
  <h1 class="pb-2 text-center">Tabell</h1>
  <div class="text-responsive border shadow p-2 bg-white">
    {% for team in teams %}
      {% if loop.index == 1 %}
        <div class="row m-0 border-bottom text-center align-items-center small pb-2">
          <div class="col text-left">#</div>
          <div class="col p-0"></div>
          <div class="col-3 text-left">Lag</div>
          <div class="col">MP</div>
          <div class="col">W</div>
          <div class="col">D</div>
          <div class="col">L</div>
          <div class="col">GF</div>
          <div class="col">GA</div>
          <div class="col">GD</div>
          <div class="col font-weight-bold">Poäng</div>
          <div class="col-2">Form</div>
          <div class="w-100"></div>
        </div>
      {% endif %}
      <div class="row m-0 border-bottom hover text-center align-items-center small">
        <div class="col text-left">{{ team.rank }}</div>
        <div class="col p-0">
          <img class="img-thumbnail-custom-2 float-start p-1" src="{{ team.logo }}" alt="{{ team.name }}'s Logo"/>
        </div>
        <div class="col-3 text-left">{{ team.name }}</div>
        <div class="col">{{ team.games_played }}</div>
        <div class="col">{{ team.wins}}</div>
        <div class="col">{{ team.draws }}</div>
        <div class="col">{{ team.losses }}</div>
        <div class="col">{{ team.goals_scored }}</div>
        <div class="col">{{ team.goals_conceded }}</div>
        <div class="col">{{ team.goals_scored - team.goals_conceded }}</div>
        <div class="col font-weight-bold">{{ team.points }}</div>
        <div class="col-2">
          {% for c in team.form %}
            {% if c == "W" %}
              <span class="text-success">
                <i class="fa fa-check-circle"></i>
              </span>
            {% elif c == "L" %}
              <span class="text-danger">
                <i class="fa fa-times-circle"></i>
              </span>
            {% elif c == "D" %}
              <span class="text-warning">
                <i class="fa fa-minus-circle"></i>
              </span>
            {% endif %}
          {% endfor %}
        </div>
        <div class="w-100"></div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
