{% extends "base.html" %}

{% macro stat_card(title, compare_enabled) %}
  <div class="col-12 col-lg-6">
    <div class="card shadow-sm stat-card">
      <div class="card-header fw-bold">
        <div class="row">
          <div class="col">
            {{ title }}
          </div>
          {% if compare_enabled %}
            <div class="col">
              <select class="form-select form-select-sm compare-user-form">
                <option value="">Jämför med...</option>
                {% for user in all_users %}
                  {% if user.id != current_user.id and user.username != 'admin' %}
                    <option value="{{ user.id }}" {% if compare_result and user.id == compare_result.user.id %} selected="selected" {% endif %}>{{ user.username | capitalize }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="card-body stat-card-body">
        {{ caller() }}
      </div>
    </div>
  </div>
{% endmacro %}

{% macro stat_general(user_result) %}
  <table class="table table-striped table-bordered align-middle stat-table">
    <thead>
      <tr>
        <th>
          <span class="text-primary">
            <i class="fa fa-bars"></i>
          </span>
          Gjorda tips
        </th>
        <th>
          <span class="text-primary">
            <i class="fa fa-soccer-ball-o"></i>
          </span>
          Avslutade tips
        </th>
        <th>
          <span class="text-success">
            <i class="fa fa-check-circle"></i>
          </span>
          Antal rätt
        </th>
        <th>
          <span class="text-danger">
            <i class="fa fa-times-circle"></i>
          </span>
          Antal fel
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ user_result.result.total }}</td>
        <td>{{ user_result.result.finished }}</td>
        <td>{{ user_result.result.correct }}</td>
        <td>{{ user_result.result.incorrect }}</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-striped table-bordered align-middle stat-table">
    <thead>
      <tr>
        <th>Oavslutade matcher</th>
        <th>Gissning</th>
      </tr>
    </thead>
    <tbody>
      {% for fixture in fixtures %}
        {% for tip in user.tips %}
          {% if fixture.fixture_id == tip.fixture_id %}
            <tr>
              <td>{{ fixture.home_team.name }}
                -
                {{ fixture.away_team.name }}</td>
              <td>{{ tip.tip }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}

{% macro correct_chart(result_dict)%}
  {% if result_dict.user and result_dict.result %}
    <canvas id="{{ result_dict.user.id }}-correct-chart" class="pie-chart stat-pie-chart" data-total="{{ result_dict.result.total }}" data-correct="{{ result_dict.result.correct }}" data-incorrect="{{ result_dict.result.incorrect }}" data-finished="{{ result_dict.result.finished }}"></canvas>
  {% endif %}
{% endmacro %}

{% macro tip_chart(result_dict)%}
  {% if result_dict.user and result_dict.result %}
    <canvas id="{{ result_dict.user.id }}-tip-chart" class="pie-chart stat-pie-chart" data-total="{{ result_dict.result.total }}" data-tip-one="{{ result_dict.result.tip_1 }}" data-tip-x="{{ result_dict.result.tip_X }}" data-tip-two="{{ result_dict.result.tip_2 }}"></canvas>
  {% endif %}
{% endmacro %}

{% block title %}Statistik{% endblock %}

{% block content %}
  <div class="container-fluid p-3">
    <div class="row g-3">
      {% call stat_card("Statistik", true) %}
      {% if user_result %}
        {{ stat_general(user_result) }}
      {% endif %}
      {% endcall %}
      {% call stat_card("Antal Rätt", false) %}
      {% if user_result.result %}
        {% if compare_result.result %}
          <div class="row">
            <div class="col text-center fw-bold">
              {{ user_result.user.username | capitalize }}
              {{ correct_chart(user_result) }}
            </div>
            <div class="col text-center fw-bold">
              {{ compare_result.user.username | capitalize }}
              {{ correct_chart(compare_result) }}
            </div>
          </div>
        {% else %}
          {{ correct_chart(user_result) }}
        {% endif %}
      {% endif %}
      {% endcall %}
      {% call stat_card("Tippfördelning", false) %}
      {% if user_result.result %}
        {% if compare_result.result %}
          <div class="row">
            <div class="col text-center fw-bold">
              {{ user_result.user.username | capitalize }}
              {{ tip_chart(user_result) }}
            </div>
            <div class="col text-center fw-bold">
              {{ compare_result.user.username | capitalize }}
              {{ tip_chart(compare_result) }}
            </div>
          </div>
        {% else %}
          {{ tip_chart(user_result) }}
        {% endif %}
      {% endif %}
      {% endcall %}
      {% call stat_card("Omgångsstatistik", false) %}
      {% if user_result.result %}
        <canvas id="{{ user_result.user.id }}-round-stats" class="line-graph stat-line-graph" data-user="{{ user_result.user.username | capitalize }}" data-round-stats='{{ user_result.result.round_stats }}' {% if compare_result %} data-compare-round-stats='{{ compare_result.result.round_stats }}' data-compare-user="{{ compare_result.user.username | capitalize }}" {% endif %}></canvas>
      {% endif %}
      {% endcall %}
    </div>
  </div>
{% endblock %}
{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/stats.js') }}"></script>
{% endblock %}
