{% extends "base.html" %}
{% block title %}Tippa Matcher{% endblock %}
{% block content %}
  <h2 class="pb-2 text-center">Tippa matcher</h2>
  <div class="text-responive">
    <div class="row">

      {% set prev_round = namespace(round = "0") %}
      {% set index = namespace(value = 1) %}

      {% for fixtures in fixtures_data %}
        {% set round = fixtures["league"]["round"].split(" - ")[1] %}

        {% if round != prev_round.round %}
          {% set prev_round.round = round %}

          {% if index.value % 2 == 0 %}
            <div class="col"></div>
            <div class="w-100"></div>

            {% set index.value = index.value + 1 %}
          {% endif %}

          <div class="p-2 font-weight-bold">
            Omgång
            {{ round }}
            av 38
          </div>
          <div class="w-100"></div>
        {% endif %}

        {% set fixture = fixtures["fixture"] %}
        {% set home = fixtures["teams"]["home"] %}
        {% set away = fixtures["teams"]["away"] %}

        <div id="{{ fixture['id'] }}" class="col" tabindex="0">
          <div class="row border hover p-2">
            <!--Teams-->
            <div class="col">
              <!--Home team-->
              <div class="row align-items-center">
                <div class="col col-lg-1 p-1">
                  <img class="img-thumbnail-custom-2 float-start" src="{{ home['logo'] }}" alt="Home team's logo"/>
                </div>
                <div class="col text-left small">{{ home["name"] }}</div>
                <div class="col-md-auto text-right small">
                  {% if fixture["status"]["short"] == "FT" %}
                    {{ fixtures["goals"]["home"] }}
                  {% endif %}
                </div>
              </div>
              <!--Away team-->
              <div class="row align-items-center">
                <div class="col col-lg-1 p-1">
                  <img class="img-thumbnail-custom-2 float-start" src="{{ away['logo'] }}" alt="Away team's logo"/>
                </div>
                <div class="col text-left small">{{ away["name"] }}</div>
                <div class="col-md-auto text-right small">
                  {% if fixture["status"]["short"] == "FT" %}
                    {{ fixtures["goals"]["away"] }}
                  {% endif %}
                </div>
              </div>
            </div>
            <!--Time-->
            <div class="d-flex col-md-auto border-left text-center align-items-center small">
              {% if fixture["status"]["short"] == "FT" %}
                Slut
              {% elif fixture["status"]["short"] == "PST" %}
                <div class="text-warning">Uppskjuten</div>
              {% else %}
                {{ fixture["date"].split("T")[1][0:5] }}
              {% endif %}
              <br/>
              {% if fixture["status"]["short"] != "PST" %}
                {{ fixture["date"].split("T")[0] }}
              {% endif %}
            </div>
            <!--Buttons-->
            <div class="d-flex col col-lg-3 border-left align-items-center small">
              {% set current_tip = namespace(tip = none) %}
              {% for tips in user.tips %}
                {% if tips.fixture_id == fixture['id'] %}
                  {% set current_tip.tip = tips.tip %}
                {% endif %}
              {% endfor %}

              {% set button1 = "btn-outline-success" %}
              {% set buttonX = "btn-outline-success" %}
              {% set button2= "btn-outline-success" %}

              {% if fixture["status"]["short"] == "FT"%}
                {% if current_tip.tip == "1" %}
                  {% set button1 = "btn-success" %}
                {% elif current_tip.tip == "X" %}
                  {% set buttonX = "btn-success" %}
                {% elif current_tip.tip == "2" %}
                  {% set button2 = "btn-success" %}
                {% endif %}
                {% set button1 = button1 + " disabled" %}
                {% set buttonX = buttonX + " disabled" %}
                {% set button2 = button2 + " disabled" %}
              {% elif fixture["status"]["short"] == "PST" %}
                {% set button1 = "btn-outline-warning disabled" %}
                {% set buttonX = "btn-outline-warning disabled" %}
                {% set button2 = "btn-outline-warning disabled" %}
              {% else %}
                {% if current_tip.tip == "1" %}
                  {% set button1 = "btn-outline-success active" %}
                {% elif current_tip.tip == "X" %}
                  {% set buttonX = "btn-outline-success active" %}
                {% elif current_tip.tip == "2" %}
                  {% set button2 = "btn-outline-success active" %}
                {% endif %}
              {% endif %}

              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn {{ button1 }}">
                  <input type="radio" name="{{ fixture['id'] }}-buttons" id="{{ fixture['id'] }}-tips-1">
                  1
                </label>
                <label class="btn {{ buttonX }}">
                  <input type="radio" name="{{ fixture['id'] }}-buttons" id="{{ fixture['id'] }}-tips-X">
                  X
                </label>
                <label class="btn {{ button2 }}">
                  <input type="radio" name="{{ fixture['id'] }}-buttons" id="{{ fixture['id'] }}-tips-2">
                  2
                </label>
              </div>
            </div>
          </div>
        </div>
        {% if index.value % 2 == 0 %}
          <div class="w-100"></div>
        {% endif %}
        {% set index.value = index.value + 1 %}
      {% endfor %}
    </div>
  </div>
  <p id="dateid" hidden="hidden">
    {{ id }}
  </p>
{% endblock %}
{% block script %}
  <script>
    window.onload = function () {
      var id = document
        .getElementById("dateid")
        .innerText
        .trim();

      var fixture = document.getElementById(id);
      fixture.scrollIntoView({alignToTop: true, block: 'center', behavior: 'smooth'});
    }

    document.addEventListener('click', function (e) {
      var target = e.target;
      if (target.tagName) {
        alert(target.tagName);
      }
    });
  </script>
{% endblock %}
