{% extends "base.html" %}
{% block title %}Tips{% endblock %}
{% block content %}
  <h1 class="pb-2 text-center">Tips</h1>
  <div class="border">
    <br/>
    <div class="row align-items-center text-center">
      <div class="col"></div>
      <div class="col">
        <div>Visar
          {{ display_user.username.capitalize() }}s tips</div>
        <br/>
        <form method="POST">
          <select class="form-control form-control" name="form-username" id="form-username">
            {% for user in all_users %}
              {% if not user.is_admin %}
                <option value="{{ user.username }}">
                  {{ user.username.capitalize() }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
          <br/>
          <button type="submit" class="btn btn-outline-primary">Visa</button>
        </form>
      </div>
      <div class="col"></div>
    </div>
    <br/>
    <div class="row align-items-center">
      <div class="col-1"></div>
      <div class="col border border-dark text-responsive">
        <div class="row border-bottom font-weight-bold">
          <div class="col">Match</div>
          <div class="col-1 text-center">Resultat</div>
          <div class="col-1"></div>
          <div class="col-1 text-center">Tips</div>
          <div class="col text-right">Datum</div>
        </div>
        {% for fixture in fixtures %}
          {% for tip in display_user.tips %}
            {% if tip.fixture_id == fixture.fixture_id %}
              {% set color = "bg-white" %}

              {% if tip.correct == 1 %}
                {% set color = "bg-success-light" %}
              {% elif tip.correct == -1 %}
                {% set color = "bg-danger-light" %}
              {% endif %}

              <div class="row border-bottom border-dark {{ color }}">
                <div class="col">
                  {{ fixture.home_team.name }}
                  -
                  {{ fixture.away_team.name }}
                </div>
                <div class="col-1 text-center">
                  {% if fixture.status == "FT" %}
                    {{ fixture.home_score }}-{{ fixture.away_score }}
                  {% else %}
                    -
                  {% endif %}
                </div>
                <div class="col-1"></div>
                <div class="col-1 text-center">{{ tip.tip }}</div>
                <div class="col text-right">{{ fixture.date }}</div>
              </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
      <div class="col-1"></div>
    </div>
    <br/>
  </div>
{% endblock %}
